<div>

    <div class="grid-container margin-top-2">
        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-8 medium-4 large-3">

                <div class="card padding-1">
                    <form accept-charset="UTF-8" v-on:submit.prevent="submitLogin()">

                        <label>Login (qwerty)
                            <input type="text" v-model.trim="loginName" placeholder="login">
                        </label>

                        <label>Password (12345)
                            <input type="password" v-model.trim="password" placeholder="password">
                        </label>

                        <div class="text-center">
                            <button class="button small" type="submit">Send</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

    <div v-if="message" class="grid-container margin-top-2">
        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-10 medium-6 large-4">

                        <p class="text-center callout warning">
                            {{ message }}
                        </p>
            </div>
        </div>
    </div>

</div>
