<div id="superusers">

    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-8">

                <transition name="fade">
                    <div v-if="alertMessage" class="callout alert">
                        {{ alertMessage }}
                        <button class="button small float-right margin-bottom-1" v-on:click="hideAlert()">OK</button>
                    </div>
                </transition>

                <transition name="fade">
                    <div v-if="infoMessage" class="callout success">
                        {{ infoMessage }}
                        <button class="button small float-right margin-bottom-1" v-on:click="hideInfo()">OK</button>
                    </div>
                </transition>
            </div>
        </div>
    </div>


    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-8">

            </div>
        </div>
    </div>


    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-4">


                <transition name="fade">
                    <div v-if="formState.create">
                        <form accept-charset="UTF-8" v-on:submit.prevent="handleCreate(formData)" class="callout">

                            <h5 class="text-center">Do create superuser {{ formData.name }}?</h5>

                            <label>Name
                                <input type="text" v-model.trim="formData.name" />
                            </label>

                            <label>Password
                                <input type="text" v-model.trim="formData.password" />
                            </label>

                            <div class="text-center">
                                <button class="button small" type="submit">Accept</button>
                                <div class="button small" v-on:click="hideForms()">Escape</div>
                            </div>
                        </form>
                    </div>
                </transition>


                <transition name="fade">
                    <div v-if="formState.update">
                        <form accept-charset="UTF-8" v-on:submit.prevent="handleUpdate(formData)" class="callout">

                            <h5 class="text-center">Do update superuser {{ formData.name }}?</h5>

                            <label>Name
                                <input type="text" v-model.trim="formData.name" />
                            </label>

                            <label>Password
                                <input type="text" v-model.trim="formData.password" />
                            </label>

                            <div class="text-center">
                                <button class="button small" type="submit">Accept</button>
                                <div class="button small" v-on:click="hideForms()">Escape</div>
                            </div>
                        </form>
                    </div>
                </transition>


                <transition name="fade">
                    <div v-if="formState.drop">
                        <form accept-charset="UTF-8" v-on:submit.prevent="handleDrop(formData)" class="callout">
                            <h5 class="text-center">Do drop superuser {{ formData.name }}?</h5>
                            <div class="text-center">
                                <button class="button small" type="submit">Accept</button>
                                <div class="button small" v-on:click="hideForms()">Escape</div>
                            </div>
                        </form>
                    </div>
                </transition>

            </div>
        </div>
    </div>


    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-8">

                <h5>Users <a v-on:click="fetchData()"><i class="fi-refresh"></i></a>
                    <button class="float-right small button" v-on:click="showCreateForm()">+</button>
                </h5>

                <div class="cell">
                    <div class="float-left">
                        <small>Updated: {{ updateStamp }}</small>
                    </div>
                    <div class="float-right">
                        <small>
                            <ul class="menu">
                                <li><a v-on:click="recordStep = 5; firstRecord = 0">5</a></li>
                                <li><a v-on:click="recordStep = 10; firstRecord = 0">10</a></li>
                                <li><a v-on:click="recordStep = 20; firstRecord = 0">20</a></li>
                                <li><a v-on:click="recordStep = 50; firstRecord = 0">50</a></li>
                                <li><a v-on:click="recordStep = 1024; firstRecord = 0">all</a></li>
                            </ul>
                        </small>
                    </div>
                </div>


                <transition name="fade">
                    <div v-if="dataRecords">

                        <table>
                            <thead>
                                <tr>
                                    <th width="3em">#</th>
                                    <th width="20em">name
                                        <a v-on:click="sortData('name','up')"><i class="arrow-up"></i></a>
                                        <a v-on:click="sortData('name','down')"><i class="arrow-down"></i></a>
                                    </th>
                                    <th width="4em"><i class="fi-pencil"></i></th>
                                    <th width="4em"><i class="fi-trash"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in dataRecords.slice(firstRecord, firstRecord + recordStep)">
                                    <td>{{ index + firstRecord + 1 }}</td>
                                    <td>{{ item.name }}</td>
                                    <td><a v-on:click="showUpdateForm(item)"><i class="fi-pencil"></i></a></td>
                                    <td><a v-on:click="showDropForm(item)"><i class="fi-trash"></i></a></td>
                                </tr>
                            </tbody>

                        </table>

                        <page-nav 
                            class="text-center" 
                            v-on:pageNumberChanged="onPageNumberChanged" 
                            v-bind:record-step="recordStep"
                            v-bind:data-length="dataRecords.length"
                        />


                    </div>
                </transition>

            </div>
        </div>
    </div>

</div>

