<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark mb-4">

    <div class="d-block d-sm-block d-md-none ml-3">
        <button class="btn m-0 p-0" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="menu" class="dropdown-menu shadow">
            <a *ngFor="let item of list" [ngClass]="itemClass(item)" (click)="changePage(item)">
                {{ item.name  }}
            </a>
        </div>
    </div>

    <div class="navbar-brand ml-3">{{ brandName }}</div>

    <ul class="nav justify-content-start mr-auto">
        <li lass="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
        </li>
    </ul>

    <ul class="nav justify-content-end ml-auto mr-3">

        <li class="nav-item" *ngIf="!loginService.isAuth">
            <a class="nav-link" (click)="login()">Login</a>
        </li>

        <li class="nav-item" *ngIf="loginService.isAuth" >
            <a class="nav-link" (click)="logout()">
                <span *ngIf="level === accessLevel.superuser">
                    <i class="fi-sheriff-badge"></i>
                </span>
                <span *ngIf="level === accessLevel.user">
                    <i class="fi-torso"></i>
                </span>
                Logout
            </a>
        </li>

    </ul>
</nav>
