<div id="app-header" class="margin-bottom-2">
    <div class="top-bar" id="top-bar">

        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="#"><i class="menu-icon"></i></a></li>
                <li class="menu-text">NgII</li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="menu hover">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/users">Users</a></li>
                    </ul>
                </li>
            </ul>
        </div>


        <div class="top-bar-right margin-right-1">
            <ul class="menu">
                <li>
                    <a href="#">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>