<div>
    <app-header></app-header>

    <div class="grid-container margin-left-2 margin-right-2" >
        <div class="grid-x grid-margin-x align-center">

            <side-bar></side-bar>

            <div class="cell medium-8" [@fade]>

                <h6><b>Home page</b></h6>
                <p>
                    The above vertically left & right aligned menu are
                    supported in all types of menu's. But align-center
                    for vertical menu’s is only available for basic menu and is not
                    available for dropdown, accordion or a drilldown menu.
                </p>

                <p>
                    The above vertically left & right aligned menu are
                    supported in all types of menu's. But align-center
                    for vertical menu’s is only available for basic menu and is not
                    available for dropdown, accordion or a drilldown menu.
                </p>


                <p>
                    The above vertically left & right aligned menu are
                    supported in all types of menu's. But align-center
                    for vertical menu’s is only available for basic menu and is not
                    available for dropdown, accordion or a drilldown menu.
                </p>

            </div>
        </div>
    </div>

    <app-footer></app-footer>

</div>