<div>
    <app-header></app-header>

    <div class="margin-left-2 margin-right-2">


        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                    <div class="cell medium-6 margin-left-3">

                        <h5><b>Overview</b></h5>

                        <p>
                            It is demo version of simple corporate program integrated
                            with contact centre VoIP phone station for
                            indentificate incoming call. And, if need, search in
                            customer base.
                        </p>

                        <p>Short say, it is mini web full-stack application
                            for medium-corporate contact-centre.

                            <i>(Uff... I wrote it looooong definition, and you readed.)</i>
                        </p>

                        <p>
                            Program writed with Angular2 and Express.JS
                            frameworks with using my implementation JSON remote
                            procedure calls.
                            Deep into the program work splendid PostgreSQL under KnexJS.
                        </p>

                        <p>
                            Scope of program around 40 page of source code,
                            with lot of alone code brackets on string.
                            I am joking about brackets, nevertheless it
                            is very important to have a readable code.
                        </p>

                        <p>
                            Program also include simple component
                            for user autentification and user management.
                        </p>

                        <p>
                            Demo version include fake customer database with 100.000 records.
                            In actual use the customer base include over 700.000 records.
                            And into real use-case the program have some addition into code
                            for safe work and data verification.
                        </p>

                    </div>


                    <div class="cell medium-3 margin-left-1">


                        <h5><b>Sample search</b></h5>

                        <h6><b>Search like phone station</b></h6>

                        <ul class="list-square">
                            <li *ngFor="let item of samplePhoneList; let i = index">
                                <a target="_blank" rel="noopener noreferrer" href='#/customers/{{ item }}'>{{ item }}</a>
                            </li>
                        </ul>

                        <h6><b>Sample search for substring</b></h6>

                        <ul class="list-square">
                            <li *ngFor="let item of partialSamples; let i = index">
                                <a target="_blank" rel="noopener noreferrer" href='#/customers/{{ item }}'>{{ item }}</a>
                            </li>
                        </ul>


                </div>
            </div>
        </div>

    </div>

    <app-footer></app-footer>

</div>