<div>
    <nav v-if="pageArray().length - 1">

        <ul class="pagination">

            <li v-if="firstRecord >= recordStep">
                <a v-on:click="firstRecord -= recordStep">
                    <i class="arrow-left margin-right-1"></i>Prev
                </a>
            </li>
            <li v-if="firstRecord < recordStep">
                <a href="#">Prev</a>
            </li>

            <li v-for="(page) in pageArray()">
                <a v-if="page * recordStep == firstRecord" v-on:click="firstRecord = page * recordStep" class="current">{{ page + 1 }}</a>
                <a v-if="page * recordStep != firstRecord" v-on:click="firstRecord = page * recordStep">{{ page + 1 }}</a>
            </li>

            <li v-if="firstRecord < (dataLength - recordStep)">
                <a v-on:click="firstRecord += recordStep">Next<i class="arrow-right margin-left-1"></i></a>
            </li>
            <li v-if="firstRecord >= (dataLength - recordStep)">
                <a href="#">Next</a>
            </li>

        </ul>
    </nav>
</div>
