<div id="things">

    <app-header></app-header>

    <div class="margin-left-2 margin-right-2">

        <div id="lorem" class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-4">

                    <thing-create  [show]="showCreateForm" (escapeEvent)="escapeForm()"  (successEvent)="successForm($event)"></thing-create>

                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-4">

                    <thing-update [thing]="currentThing" [show]="showUpdateForm" (escapeEvent)="escapeForm()" (successEvent)="successForm($event)"></thing-update>

                </div>
            </div>
        </div>


        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-4">

                    <thing-drop [thing]="currentThing" [show]="showDropForm" (escapeEvent)="escapeForm()" (successEvent)="successForm($event)"></thing-drop>

                </div>
            </div>
        </div>


        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-8">
                    <span *ngIf="showItemCard" [@fade]>
                        <thing-card [thing]="currentThing" [show]="showItemCard" (escapeEvent)="escapeForm()" ></thing-card>
                    </span>
                </div>
            </div>
        </div>


        <div class="grid-container" *ngIf="showListRecords">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-8">

                    <h5>Things <a (click)="getList()"><i class="fi-refresh" style="font-size: 1.3em;"></i></a>
                        <button class="float-right button rounded bordered shadow tiny" (click)="showCreate()"><i class="fi-plus" style="font-size: 1.3em;"></i></button>
                    </h5>
                    <small>Total: {{ list.length }}</small>

                    <div class="float-right">
                        <small>
                            <ul class="menu">
                                <li><a (click)="changePageSize(5)">5</a></li>
                                <li><a (click)="changePageSize(10)">10</a></li>
                                <li><a (click)="changePageSize(20)">20</a></li>
                                <li><a (click)="changePageSize(50)">50</a></li>
                                <li><a (click)="changePageSize(1024)">all</a></li>
                            </ul>
                        </small>
                    </div>



                    <div  class="text-center">
                        <small>
                            <page-nav [listLength]="list.length" [pageSize]="pageSize" [firstElem]="firstElem" (changeFirstElemEvent)="changePage($event)" ></page-nav>
                        </small>
                    </div>

                    <table class="shadow" [@fade]>
                        <tbody>
                            <tr *ngFor="let item of elemNumList; let i = index">
                                    <td>{{ item }}</td>
                                    <td>{{ list[item].name }}</td>
                                    <td class="text-right">
                                        <a class="button rounded shadow margin-right-3 display-inline-block " style="padding: 0.5em; font-size: 80%;" (click)="showItem(list[item])">show</a>
                                        <a class="margin-right-3 display-inline-block" (click)="updateItem(list[item])"><i class="fi-pencil large-fi"></i></a>
                                        <a class="margin-right-2 display-inline-block" (click)="dropItem(list[item])"><i class="fi-trash large-fi"></i></a>
                                    </td>
                            </tr>
                        </tbody>
                    </table>




                </div>
            </div>
        </div>

    </div>



    <app-footer></app-footer>

</div>