<div *ngIf="show" class="shadow callout" [@fade]>

    <div class="card-divider">
        <h5>
            <b>{{ thing.name }}</b>
        </h5>
    </div>

    <table class="unstriped"  style="border: none;">
        <tbody>
            <tr>
                <td with="14em;"><b>Field 1</b></td>
                <td> Some prop description 1</td>
            </tr>
            <tr>
                <td><b>Field 2</b></td>
                <td> Some prop description 2</td>
            </tr>
            <tr>
                <td><b>Blobs:</b></td>
            </tr>
            <tr *ngFor="let item of thing.blob; let i = index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td><a href="#"><i class="fi-download large-fi"></i></a></td>
                <td><a href="#"><i class="fi-trash large-fi"></i></a></td>
            </tr>
        </tbody>

    </table>

    <button class="button small margin-left-1 margin-right-1" (click)="escape()">Close</button>
    <div class="button small margin-left-1 margin-right-1">Add Blob</div>

</div>
