<app-container>

    <vehicle-create [subject]="subject"></vehicle-create>

    <vehicle-update [subject]="subject" [vehicle]="vehicle"></vehicle-update>

    <vehicle-drop [subject]="subject" [vehicle]="vehicle"></vehicle-drop>

    <div class="row">
        <div class="col">
            <div class="btn btn-primary btn-sm ml-auto float-right mb-3 d-inline-block" (click)="createVehicle()">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </div>
            <h5 class="mb-3"><b>Vehicles</b></h5>
        </div>
    </div>

    <p class="text-center text-danger" *ngIf="alertMessage.length > 0" [@fade]>
            {{ alertMessage }}
    </p>



    <div class="form-group row my-2">
        <div class="col-5 mt-auto">
            <a (click)="getList()">
                <fa-icon [icon]="['fas', 'sync-alt']" size="lg"></fa-icon>
            </a>
            <small class="ml-3">
                Updated {{ timestamp | date:"h:mm:ss" }}
                <span class="badge badge-info">{{ vehicles.length }}</span>
            </small>
        </div>

        <div class="col-5 ml-auto">
            <div class="input-group">
                <input class="form-control form-control-sm" type="search" placeholder="Search" [(ngModel)]="search" [ngModelOptions]="{ standalone: true }">
            </div>
        </div>
    </div>

    <ng-container *ngIf="(vehicles | vehiclesFilter:search) as filteredItems">

        <table class="table table-striped table-hover table-sm">

            <thead class="thead-light">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">code</th>
                    <th scope="col"><fa-icon [icon]="['far', 'edit']"></fa-icon></th>
                    <th scope="col"><fa-icon [icon]="['far', 'trash-alt']"></fa-icon></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of filteredItems; let i = index">
                    <ng-container *ngIf="(i >= firstElem) && (i < (firstElem + pageSize))">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ item.name | prettyCode:2 }}</td>
                        <td><a (click)="updateVehicle(item)"><fa-icon [icon]="['far', 'edit']"></fa-icon></a></td>
                        <td><a (click)="dropVehicle(item)"><fa-icon [icon]="['far', 'trash-alt']"></fa-icon></a></td>
                    </ng-container>
                </tr>
            </tbody>
        </table>

        <page-nav [listLength]="filteredItems.length" [pageSize]="pageSize" [firstElem]="firstElem" (changeFirstElemEvent)="changePage($event)"></page-nav>
    </ng-container>


</app-container>
