
$my-menu-icon-color: #424242;

.my-menu-icon {
    @include hamburger($color: $my-menu-icon-color, $color-hover: $my-menu-icon-color);
    margin-bottom: 0.2em;
}

//$topbar-background: $white;

//$my-gray: #aaaaaa;

//.top-bar {
//    background-color: #efefff !important;
//    margin-bottom: 1.3em;
//    border-bottom: 1px solid $my-gray; //$light-gray;
//}

//.top-bar ul {
//    padding-left: 1em;
//    padding-top: .3em;
//    background-color: #efefff !important;
//}

//tr {
//    border-bottom: 1px solid $my-gray !important; //$light-gray;
//}

//thead tr {
//    border-bottom: 2px solid $my-gray !important; //$light-gray;
//}


html {
    font-size: 90% !important;
}