
$topbar-background: $white;
$my-gray: #dadada;

$my-menu-icon-color: #424242;

.my-menu-icon {
    @include hamburger($color: $my-menu-icon-color, $color-hover: $my-menu-icon-color);
    margin-bottom: 0.2em;
}


$my-top-bar-color: #dee7ee;

.top-bar {
    background-color: $my-top-bar-color !important;
    margin-bottom: 1.3em;
    border-bottom: 1px solid $my-gray;
}

.top-bar ul {
    padding-left: 1em;
    padding-top: .3em;
    background-color: inherit !important;
}

.arrow-down,
.arrow-up,
.arrow-right,
.arrow-left {
    display: inline-block !important;
}

//tr {
//    border-bottom: 1px solid $my-gray !important;
//}

//thead tr {
//    border-bottom: 2px solid $my-gray !important;
//}



html {
    font-size: 90% !important;
}
