<app-container>

    <user-create [subject]="subject"></user-create>

    <user-update [subject]="subject" [user]="user"></user-update>

    <user-drop [subject]="subject" [user]="user"></user-drop>

    <div class="row">
        <div class="col">
            <div class="btn btn-primary btn-sm ml-auto float-right mb-3" (click)="createUser()"><i class="fi-plus d-inline-block"></i></div>
            <h5 class="mb-3"><b>Users</b></h5>
        </div>
    </div>


    <div class="form-group row my-2">
        <div class="col-5 mt-auto">
            <a (click)="getList()"><i class="fi-refresh lead mr-3"></i></a>
            <small>Updated {{ timestamp | date:"h:mm:ss" }}</small>
        </div>

        <div class="col-5 ml-auto">
            <div class="input-group">
                <input class="form-control form-control-sm" type="search" placeholder="Search" [(ngModel)]="search" [ngModelOptions]="{ standalone: true }">
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover table-sm">

        <thead class="thead-light">
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">login</th>
                <th scope="col">right</th>
                <th scope="col"><i class="fi-pencil"></i></th>
                <th scope="col"><i class="fi-trash"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of users | usersFilter:search ; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.gecos  }}</td>
                <td>{{ item.name  }}</td>
                <td><span *ngIf="item.superuser"><i class="fi-sheriff-badge"></i></span></td>
                <td><a (click)="updateUser(item)" tabindex="-1"><i class="fi-pencil"></i></a></td>
                <td><a (click)="dropUser(item)" tabindex="-1"><i class="fi-trash"></i></a></td>
            </tr>
        </tbody>
    </table>

</app-container>
