<app-container>

    <user-create [subject]="subject.asObservable()"></user-create>

    <div class="btn btn-primary btn-sm float-right mb-3" (click)="createUser()"><i class="fi-plus d-inline-block "></i></div>

    <h6><b>Users</b></h6>

    <table class="table table-striped table-hover table-sm">

        <thead class="thead-light">
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">login</th>
                <th scope="col">right</th>
                <th scope="col"><i class="fi-pencil"></i></th>
                <th scope="col"><i class="fi-trash"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of users; let i = index">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.gecos  }}</td>
                <td>{{ item.name  }}</td>
                <td><span *ngIf="item.superuser"><i class="fi-sheriff-badge"></i></span></td>
                <td><a (click)="updateItem(item)"><i class="fi-pencil"></i></a></td>
                <td><a (click)="dropItem(item)"><i class="fi-trash"></i></a></td>
            </tr>
        </tbody>
    </table>

</app-container>