<div>
    <app-header></app-header>

    <div class="grid-container margin-left-2 margin-right-2">
        <div class="grid-x grid-margin-x">

            <side-bar></side-bar>

            <div class="cell auto margin-left-3" [@fade]>
                <button class="float-right tiny button rounded display-inline-block" (click)="createItem()"><i class="fi-plus"></i></button>

                <h6><b>Users</b></h6>

                <table class="hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>login</th>
                            <th>right</th>
                            <th><i class="fi-pencil"></i></th>
                            <th><i class="fi-trash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of list; let i = index">
                            <td>{{ item.id }}</td>
                            <td>{{ item.gecos  }}</td>
                            <td>{{ item.name  }}</td>
                            <td><span *ngIf="item.superuser"><i class="fi-sheriff-badge" style="font-size: 1.2em;"></i></span></td>
                            <td><a (click)="updateItem(item)"><i class="fi-pencil"></i></a></td>
                            <td><a (click)="dropItem(item)"><i class="fi-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>


    <app-footer></app-footer>
</div>