<div class="w-100" style="position: absolute; top: 3rem; right: 1rem;">

        <div *ngFor="let item of notices; let i = index">

            <div id="noticeId(i)" class="toast ml-auto w-25" role="alert" data-autohide="false" data-animation="" [@rotate]>

                <div class="toast-header bg-warning">
                    <strong class="mr-auto text-primary">Message</strong>
                    <small class="text-muted"></small>
                    <button type="button" class="ml-2 mb-1 close" (click)="hide(i)">&times;</button>
                </div>

                <div class="toast-body bg-warning">
                    {{ item.message }}
                </div>

            </div>

        </div>


</div>