<div id="users">

    <app-header></app-header>

    <div class="margin-left-2 margin-right-2">

        <div id="lorem" class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-4">

                    <user-create [show]="showCreateForm" (escapeEvent)="escapeForm()"></user-create>

                </div>
            </div>
        </div>

        <div id="lorem" class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-4">

                    <user-update [user]="currentUser" [show]="showUpdateForm" (escapeEvent)="escapeForm()"></user-update>

                </div>
            </div>
        </div>


        <div id="lorem" class="grid-container" *ngIf="showListRecords">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-8">

                    <h5>Users<i class="fi-refresh"></i>
                        <button class="float-right small button" (click)="showCreate()">+</button>
                    </h5>

                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>name</th>
                                <th>pass</th>
                                <th><i class="fi-pencil"></i></th>
                                <th><i class="fi-trash"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of list; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.name  }}</td>
                                <td>{{ item.password }}</td>
                                <td><a (click)="updateItem(item)"><i class="fi-pencil"></i></a></td>
                                <td><a (click)="dropItem(item)"><i class="fi-trash"></i></a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

    <app-footer></app-footer>

</div>