<div>

    <div class="top-bar">
        <div class="top-bar-left padding-left-2">
            <ul class="menu">
                <li class="menu-text"><i class="fi-shield" style="font-size: 1.3em;"></i></li>
                <li class="menu-text">Login</li>
            </ul>
        </div>
    </div>


    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-8 medium-4 large-3">

                <div class="card padding-2 margin-top-3 radius shadow" [@rotate]>

                    <form accept-charset="UTF-8" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
                        <label>Login name (demo: user)
                            <input type="text" formControlName="name">
                        </label>
                        <label>Password (demo: 12345)
                            <input type="password" formControlName="password">
                        </label>
                        <div class="text-center">
                            <button class="button small" type="submit">Submit</button>
                        </div>
                    </form>

                    <div class="margin-2">
                        <div class="text-center">
                            {{ preMessage }}
                        </div>
                        <div class="text-center">
                            {{ message }}
                        </div>
                        <div class="text-center" *ngIf="attemptCounter > 0">
                            Attempt {{ attemptCounter }}
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
