<div class="w-100"></div>

<div class="w-100" style="position: absolute; top: 3rem; right: 0.2rem;">

    <div *ngFor="let item of messages; let i = index">

        <div class="container-fluid">
            <div class="row">
                <div class="col-11 col-sm-7 col-md-5 col-lg-4 ml-auto align-items-end" [@rotate]>

                    <div id="item.domId" [ngClass]="toastClass(item.notice)" role="alert" data-autohide="false" data-animation="" [@rotate]>

                        <div [ngClass]="toastHeaderClass(item.notice)">

                            <span class="mr-2"><fa-icon [icon]="toastIcon(item.notice)" size="xl"></fa-icon></span>
                            <strong class="mr-auto text-primary">{{ toastSubject(item.notice) }}</strong>
                            <small class="text-muted"></small>
                            <button type="button" class="ml-2 mb-1 close" (click)="removeMessage(item)">&times;</button>
                        </div>

                        <div class="toast-body">
                            {{ item.notice.message }}
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

</div>