<div *ngIf="show">

    <form accept-charset="UTF-8" class="shadow callout" [formGroup]="modelForm" (ngSubmit)="dropModel(modelForm)"  >

        <h5 class="text-center">Do drop user #{{ user.name }}?</h5>

        <fieldset class="cell margin-bottom-1 text-center">
            <input id="checkbox-user-as" type="checkbox" formControlName="confirm" required>
            <label for="checkbox-user-as"> I confirm the action. </label>
        </fieldset>

        <p class="text-center" *ngIf="confirm.errors">
            <span *ngIf="confirm.errors.required"> Confirmation is required. </span>
        </p>

        <div class="text-center">
            <span *ngIf="modelForm.errors">
                <button class="button small disabled margin-left-1 margin-right-1" type="button">Accept</button>
            </span>
            <span *ngIf="!modelForm.errors">
                <button class="button small margin-left-1 margin-right-1" type="submit">Accept</button>
            </span>
            <div class="button small margin-left-1 margin-right-1" (click)="escape()">Escape</div>
        </div>
    </form>

</div>
