<div id="things">

    <app-header></app-header>

    <div class="margin-left-2 margin-right-2">

        <div id="lorem" class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-4">

                    <thing-create  [show]="showCreateForm" (escapeEvent)="escapeForm()"  (successEvent)="successForm($event)"></thing-create>

                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-4">

                    <thing-update [thing]="currentThing" [show]="showUpdateForm" (escapeEvent)="escapeForm()" (successEvent)="successForm($event)"></thing-update>

                </div>
            </div>
        </div>


        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-4">

                    <thing-drop [thing]="currentThing" [show]="showDropForm" (escapeEvent)="escapeForm()" (successEvent)="successForm($event)"></thing-drop>

                </div>
            </div>
        </div>


        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-8">
                    <span *ngIf="showItemCard" [@fade]>
                        <thing-card [thing]="currentThing" [show]="showItemCard" (escapeEvent)="escapeForm()" ></thing-card>
                    </span>
                </div>
            </div>
        </div>


        <div class="grid-container" *ngIf="showListRecords">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell medium-8">

                    <h5>Things <a (click)="getList()"><i class="fi-refresh" style="font-size: 1.3em;"></i></a>
                        <button class="float-right small button" (click)="showCreate()"><i class="fi-plus" style="font-size: 1.3em;"></i></button>
                    </h5>

                    <table class="shadow" [@fade]>
                    <!--
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>name</th>
                                <th><i class="fi-zoom-in"></i></th>
                                <th><i class="fi-pencil"></i></th>
                                <th><i class="fi-trash"></i></th>
                            </tr>
                        </thead>
                    -->
                        <tbody>
                            <tr *ngFor="let item of list; let i = index">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name  }}</td>
                                <td><a (click)="showItem(item)"><i class="fi-zoom-in large-fi"></i></a></td>
                                <td><a (click)="updateItem(item)"><i class="fi-pencil large-fi"></i></a></td>
                                <td><a (click)="dropItem(item)"><i class="fi-trash large-fi"></i></a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

    <app-footer></app-footer>

</div>